<h1 style="text-align: center;">Calendar / Weather v4 is here!</h2>

<p style="text-align: center;">
  <a href="https://discord.gg/f6PtsSjWGP"><img src="https://img.shields.io/discord/873311079231553576?color=5865F2&amp;label=Discord" alt="Discord" /></a>
  <a href="https://patreon.com/thebird956"><img src="https://img.shields.io/endpoint.svg?url=https%3A%2F%2Fshieldsio-patreon.vercel.app%2Fapi%3Fusername%3Dthebird956%26type%3Dpatrons&style=flat" alt="Support me on Patreon" /></a>
</p>

<p>
  After a few months of effort, v4 of Calendar / Weather is finally available to everyone and includes many changes. A lot of those changes are disruptive. V4 is almost a complete rewrite of the original code and fixes a lot of issues. Unfortunately, because of this, a few features might be missing. This doesn't mean they won't come back. A lot of those features are definitely on my wishlist to reimplement and improve. I had to remove a few features to quickly put it into your hands and address the most significant time and date configuration issues.
</p>

<p>
  There is a lot that needs to be mentioned, and this isn't a blog, so let's start with the most significant change. You'll be able to read more on my <a href="https://patreon.com/thebird956">Patreon page</a>.
</p>

<h2>Calendar / Weather changes its name to Weather Control.</h2>
<q>Weather modification (also known as weather control) is the act of intentionally manipulating or altering the weather. [<a href="https://en.wikipedia.org/wiki/Weather_modification">Wikipedia</a>]</q>

<p>This new name gives a better idea of the new focus of the module: <b>Weather</b>. The old name will continue to be displayed for a week or two to avoid confusing people that are not yet aware of this change.</p>

<h2>Why the change?</h2>

<p>
  I needed to switch the date and time management from About Time to Simple calendar for technical reasons. This change lets us focus on one thing and do it better. Date and time management is notoriously difficult, and leaving the effort to someone else will allow me to focus on anything related to weather for your game.
</p>

<h2>What is working?</h2>

<p>To keep this short, here's a list:</p>

<ul>
  <li>Daily weather generation</li>
  <li>Showing the new weather in chat</li>
  <li>Hide the weather in chat from your players</li>
  <li>Rely on Simple Calendar to get the date and time</li>
  <li>Display the date and time in the floating window</li>
  <li>Display the current weather in the floating window (the weather icon on the top right)</li>
  <li>Regenerate the weather from the floating window</li>
  <li>Change the current climate</li>
  <li>Skip time by increment</li>
</ul>

<h2>Which features are missing?</h2>

<ul>
  <li>Seasons</li>
  <li>Skip to dusk, dawn, etc</li>
  <li>Support for both Fahrenheit and Celsius (currently only showing Celsius)</a></li>
  <li>Calendar configuration (taken care of by Simple Calendar)</li>
  <li>Event configuration (taken care of by Simple Calendar)</li>
  <li>Moons configuration (taken care of by Simple Calendar)</li>
</ul>

<h2>But what about this and that feature?</h2>
<p>If you notice something that is not on the list, I might have forgotten about it.</p>
<p>
  There are, however, features that will come back in a different form, like moons that still need to be displayed or interactions with the darkness level that will become linked with the current weather.
</p>

<h2>Weather control is showing a totally different date and weather than before!</h2>
<p>
  If your date is wrong, it means you didn't export your settings to Simple Calendar before updating. It is possible to get it back by downgrading to the previous version and exporting it before updating again.
</p>

<p>
  You can do the same manipulation for the temperature, but it won't be migrated to the new version. I advise you to either just embrace it or roleplay the weather.
</p>

<h2>What if I want to go back to the previous version?</h2>
<p>You can definitely do that! Follow this <a href="https://gitlab.com/jstebenne/foundryvtt-weather-control/-/wikis/Downgrading-to-a-previous-version">link for a guide to downgrade back to v3.1.7</a>.</p>

<h2>Discuss and Contribute</h2>

<p>As I mentioned, I want to keep this short, but I also posted an extended version of this on my <a href="https://patreon.com/thebird956">Patreon page</a> with more in-depth explanations.</p>

<p>Feel free to join my <a href="https://discord.gg/f6PtsSjWGP">Discord</a> server to discuss the changes and look at the <a href="https://gitlab.com/jstebenne/foundryvtt-weather-control">GitLab project</a> to report bugs or send feature requests.</p>

<p>I hope you enjoy this update and everything I have planned for the future.</p>

<p><b>- Julien, AKA The Bird</b></p>
