<form>
	<button type="submit">Submit</button>

	<table>
		{{#each weatherDescriptions}}
			<tr>
				<td><b>{{climate}}</b></td>			
				<td><b>{{humidity}}</b></td>			
				<td>{{description}}</td>			
				<td><input name="{{@index}}"/></td>			
			</tr>
		{{/each}}
	</table>
	<button type="submit">Submit</button>
</form>
