<div id="sweath-container" {{#if weatherPanelOpen}}class="showWeather"{{/if}}>
	<section id="calendar">

		<!-- header -->
		<header class="calendar-header">
			<div class="header-navigation">
			</div>

			<!-- day name -->
			<h1 id="sweath-window-move-handle">
				<span id="weekday">{{ weekday }}</span>
			</h1>

			<div class="header-navigation">
				<div id="season-indicator">
					<i class="fas fa-circle" title="{{localize 'Season'}}"></i>
				</div>
				<div id="weather-toggle" class="icon-btn">
					<i class="fas fa-cloud-sun" title="{{localize 'sweath.calendar.Weather'}}"></i>
				</div>
			</div>
		</header>

		<!-- content -->
		<div class="content">

			<!-- date display -->
			<section id="date-display" title="{{localize 'sweath.calendar.ClickToToggle'}}">
				<h2>
					{{ testvalue }}
					<span id="date-num">{{ formattedDate }}</span>
					<span id="date">{{ displayDate }}</span>
					<span id="moon"></span>
				</h2>
			</section>

			<!-- multiple moon display -->
			<section id="moon-list">
			</section>

			<!-- clock display -->
			<section class="clock">
				<div id="start-stop-clock" class="time-display"  title="{{localize 'sweath.time.StartStopPseudo'}}">
					{{#if isGM}}
					<div id="clock-run-indicator" title="{{localize 'ClockRunning'}}">
						<ul>
							<li>
								<i class="fas fa-hourglass-start"></i>
							</li>
							<li>
								<i class="fas fa-hourglass-half"></i>
							</li>
							<li>
								<i class="fas fa-hourglass-end"></i>
							</li>
							<li>
								<i class="fas fa-hourglass"></i>
							</li>
						</ul>
					</div>
					{{/if}}
					<div class="time">
						<span class="calendar-time-disp" id="calendar-time">{{ formattedTime }}</span>
					</div>
					<!--
					{{#if isGM}}
					<div id='time-running' class="start-stop">
						<i class="fas fa-play"></i>
						<i class="fas fa-stop"></i>
					</div>
					{{/if}}
					-->
				</div>
			</section>
		</div>

		<!-- footer -->
		<!--
		{{#if isGM}}
		<footer class="time-controls">
			<ul>
				<li id="btn-advance_01" class="advance-btn disabled" title="{{localize 'sweath.time.Advance1second'}}" data-display="enabled" data-increment="1" data-unit-label="s" data-unit="second"></li>
				<li id="btn-advance_02" class="advance-btn disabled" title="{{localize 'sweath.time.Advance30seconds'}}" data-display="enabled" data-increment="30" data-unit-label="s" data-unit="second"></li>
				<li class="advance-btn" title="{{localize 'sweath.time.Advance1minute'}}" data-display="enabled" data-increment="1" data-unit-label="min" data-unit="minute"></li>
				<li class="advance-btn" title="{{localize 'sweath.time.Advance5minutes'}}" data-display="enabled" data-increment="5" data-unit-label="min" data-unit="minute"></li>
				<li class="advance-btn" title="{{localize 'sweath.time.Advance15minutes'}}" data-display="enabled" data-increment="15" data-unit-label="min" data-unit="minute"></li>
				<li class="advance-btn" title="{{localize 'sweath.time.Advance1hour'}}" data-display="enabled" data-increment="1" data-unit-label="h" data-unit="hour"></li>
			</ul>
		</footer>
		{{/if}}
		-->
	</section>

	<section id="weather">
		<div id="sweath-weather-container">
			<header>
				<span id="sweath-current-temperature">{{ currentTemperature }}</span>
				{{#if isGM}}
					<select id="biome-selection" title="{{localize 'sweath.weather.SelectBiome'}}">
						<option title="{{localize 'sweath.weather.biome.Tundra'}}" value="tundra">{{localize 'sweath.weather.biome.Tundra'}}</option>
						<option title="{{localize 'sweath.weather.biome.Alpine'}}" value="alpine">{{localize 'sweath.weather.biome.Alpine'}}</option>
						<option title="{{localize 'sweath.weather.biome.Taiga'}}" value="taiga">{{localize 'sweath.weather.biome.Taiga'}}</option>
						<option title="{{localize 'sweath.weather.biome.Chapparel'}}" value="chapparel">{{localize 'sweath.weather.biome.Chapparel'}}</option>
						<option title="{{localize 'sweath.weather.biome.Grassland'}}" value="grassland">{{localize 'sweath.weather.biome.Grassland'}}</option>
						<option title="{{localize 'sweath.weather.biome.Forest'}}" value="forest">{{localize 'sweath.weather.biome.Forest'}}</option>
						<option title="{{localize 'sweath.weather.biome.Desert'}}" value="desert">{{localize 'sweath.weather.biome.Desert'}}</option>
						<option title="{{localize 'sweath.weather.biome.Savannah'}}" value="savannah">{{localize 'sweath.weather.biome.Savannah'}}</option>
						<option title="{{localize 'sweath.weather.biome.Rainforest'}}" value="rainforest">{{localize 'sweath.weather.biome.Rainforest'}}</option>
					</select>
					<div class="weather-refresh calendar-btn" id="sweath-weather-regenerate" title="{{localize 'sweath.weather.RegenerateWeather'}}">
						<i class="fas fa-redo"></i>
					</div>
					<select id="climate-selection" title="{{localize 'sweath.weather.SelectClimate'}}">
						<option title="{{localize 'sweath.weather.climate.Cold'}}" value="cold">{{localize 'sweath.weather.climate.Cold'}}</option>
						<option title="{{localize 'sweath.weather.climate.Temperate'}}" value="temperate">{{localize 'sweath.weather.climate.Temperate'}}</option>
						<option title="{{localize 'sweath.weather.climate.Hot'}}" value="hot">{{localize 'sweath.weather.climate.Hot'}}</option>
					</select>
					<select id="humidity-selection" title="{{localize 'sweath.weather.SelectHumidity'}}">
						<option title="{{localize 'sweath.weather.humidity.Barren'}}" value="barren">{{localize 'sweath.weather.humidity.Barren'}}</option>
						<option title="{{localize 'sweath.weather.humidity.Modest'}}" value="modest">{{localize 'sweath.weather.humidity.Modest'}}</option>
						<option title="{{localize 'sweath.weather.humidity.Verdant'}}" value="verdant">{{localize 'sweath.weather.humidity.Verdant'}}</option>
					</select>
			
				{{/if}}
			</header>
			<div class="sweath-weather-content">
				<div class="weather-description">
					<p id="current-description">{{ currentDescription }}</p>
				</div>
			</div>
		</div>
	</section>
</div>
