#swr-container {
  height: auto;
  border-radius: 5px;
  position: fixed;
  z-index: 100;
  overflow: hidden;
  display: flex;

  #swr-wrapper {
    height: auto;
    overflow: hidden;
    display: flex;
    align-items: end;
  }

  // don't put on the wrapper because we need it to be transparent in spots
  #swr-calendar-box, #swr-weather-box {
    background: rgba(34, 34, 34, 1);
    color: rgba(255, 255, 255, .87);
  }

  #swr-calendar-box {
    flex: 1 0 255px;
    min-width: 255px;
  }

  button.swr-toggle-btn {
    flex: 0 1 0%;
    background-color: transparent;
    color: rgba(255, 255, 255, .45);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    border: 1px solid rgb(181, 179, 164);
    font-size: 1rem;
    padding: 2px;   
    margin: 1px;
    min-width: 1.1rem;
    min-height: 1.1rem;
    width: auto;
    box-sizing: content-box;  // make sure the content is at least 1.1rem square
  }

  button.swr-toggle-btn:last-of-type {
    margin-right: 4px;
  }

  button.swr-toggle-btn:first-of-type {
    margin-left: 4px;
  }

  button.swr-toggle-btn:active {
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
       -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
            box-shadow: inset 0px 0px 5px #c1c1c1;
     outline: none;
  }

  button.swr-toggle-btn.on {
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
       -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
            box-shadow: inset 0px 0px 5px #c1c1c1;
     outline: none;
  }

  button.swr-toggle-btn i {
    margin: 0;  // this is to override default button
  }

  #swr-calendar-move-handle,
  #swr-weather-move-handle 
  {
    font-size: 0.85rem;
    line-height: 1;
    text-align: center;
    padding: 0;
    margin: 0;
    border: none;
    display: flex;
    flex: 1 0;
  }

  #swr-date-box {
    padding: 0 1px;
  }

  #swr-date-display {
    border-bottom: 1px solid rgba(255, 255, 255, .4);
  }
  
  #swr-date-display, #swr-time-display{
    font-size: 0.85rem;
    line-height: 1;
    margin: 0;
    padding: 4px 4px 2px 4px;
    text-align: center;
    font-weight: 400;
    height: 1.8rem;
  }
}

/* WEATHER DISPLAY */

#swr-weather-box {
  visibility: visible;
  width: 350px;
}

#swr-weather-box.swr-player-box {
  width: 250px;
}

#swr-weather-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#swr-container header {
  flex: 0 0 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  background: #444;
  cursor: move;
}

#swr-container header .swr-top-bar {
  display: flex;
  flex: 1 0 100%;
  flex-flow: row wrap;
  min-height: 20px;
  justify-content: space-between;
  align-items: center;
  cursor: move;
}

#swr-container header select {
  background: none;
  border: none;
  border-radius: 0;
  height: 20px;
  width: 100%;
  font-size: 0.85rem;
  font-family: Signika, sans-serif;
  flex: 1;
  color: rgba(255, 255, 255, .9);
  padding: 0 4px;
  margin: 0;
  cursor: pointer;
  transition: background .3s ease;
}

#swr-container header select option {
  background: #444;
  color: #fff;
}

#swr-container header select:hover {
  background: rgba(255, 255, 255, .2);
}

#swr-container header select:active,
#swr-container header select:focus {
  box-shadow: none;
}

#swr-container header .select-wrapper {
  padding: 0 3px 0 3px;
} 

#swr-container header .select-wrapper input[type="checkbox"] {
  height: 20px;
  vertical-align: middle;
  width: auto;
  font-size: 0.85rem;
  font-family: Signika, sans-serif;
  flex: 1;
  color: rgba(255, 255, 255, .9);
}

#swr-container header .select-wrapper label {
  vertical-align: middle;
}

#swr-tool-bar {
  display: flex;
  justify-content: start;
}

.swr-optional-bar, #swr-tool-bar {
  flex: 1 0 100%;
  flex-flow: row wrap;
  align-items: center;
  min-height: 20px;
}

.swr-optional-bar.swr-display-bar {
  display: flex !important;
}

.swr-optional-bar {
  display: none;
}

#swr-current-weather-controls {
  position: absolute;
  right: 0;
  top: 0;
  padding-top: 2px;
}

.swr-current-weather-control {
  padding: 4px 4px 4px 0;
  margin: 2px;
  font-size: 0.85rem;
  cursor: pointer;
  width: 20px;

  i {
    position: relative;
    top: 1px;
  }
}

.swr-weather-content {
  background: rgba(0, 0, 0, .5);
  overflow: hidden;
  position: relative;
}

.swr-weather-description {
  padding: 4px 10px;
  font-size: 1rem;
  line-height: 17px;
  margin: auto;
  height: 3.6rem;
  text-align: center;
}

#swr-container .row-break {
  flex-basis: 100%;
  height: 0;
}

#swr-manual-submit {
  display: flex;
  height: 20px;
  justify-content: center;
  align-items: center;  
}

// seasons
#swr-season-icon .fa.winter {
  color:#479dff;
} 

#swr-season-icon .fa.spring {
  color:#46b946;
} 

#swr-season-icon .fa.summer {
  color:#e0c40b;
} 

#swr-season-icon .fa.fall {
  color:#ff8e47;
} 

// hide the background of the simple calendar side panel
// NOTE!!! This needs to be replaced with new replacement class = SC_CLASS_FOR_TAB_WRAPPER
.simple-calendar.window-app .fsc-of:has(> #swr-container) { 
  background-color: transparent !important;
  border: none !important;
  border-image: none !important;
  box-shadow: none !important;
}

body.game #swr-container select option.swr-invalid-manual-option {
  color: red !important;   // make invalid manual options red in the dropdown
}

body.game #swr-container #swr-manual-weather-selection.swr-invalid-manual-option {
  color: red !important;   // make select text red if invalid currently selected
}
