.wfrp {
  #simple-weather-container {
    border: 2px solid #540e0ec2 !important;
    border-image-slice: 24 20 19 17 !important;
    border-image-width: 20px 20px 20px 20px !important;
    border-image-outset: 17px 14px 14px 14px !important;
    border-image-repeat: repeat repeat !important;
    border-image-source: url(/systems/wfrp4e/ui/players-border.png) !important;
    background: none;
  }

  #calendar {
    border: none !important;
    border-radius: 0px !important;
  }

  .calendar-header {
    background: #290a0ad9;
  }

  .time-controls li {
    background: #290a0ad9;
    color: #ffffffb0;
  }

  .time-controls li:hover:not(.disabled) {
    background: #650000d9;
  }

  #simple-weather-container.showWeather #weather {
    background: rgba(0, 0, 0, 0.88);
    font-family: CaslonPro;
  }

  #weather-container header {
    background: #290a0ad9;
  }

  #weather-container header select {
    font-family: CaslonPro;
  }

  .weather-content {
    background: none;
  }

  #moon-list.hasMoon {
    border-bottom: 2px groove #23221d;
  }

  #date-display {
    border-bottom: 2px groove #23221d;
  }

  #weather-container header select:hover {
    background: #650000d9;
  }

  .time-controls li.disabled {
    cursor: not-allowed;
    background: #290a0aba;
  }

}
